*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --success-color: #4CAF50;
    --error-color: #f44336;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: linear-gradient(180deg, #bdbdbd 40%, #e7a92c 60%);
}

nav{
    background: #acacac;
    height: 70px;
    width: 100%;
}

label.logo{
    color: #282828;
    font-size: 33px;
    line-height: 70px;
    padding: 0 60px;
    font-weight: bold;
    display: inline;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline;
    line-height: 70px;
    margin: 0 10px;
}

button {
    background-color: var(--success-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-nav{
    background-color: transparent;
    color: #000000;
    font-size: 17px;
    outline: none;
    width: auto;
}

.btn-nav:hover{
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal.reg{
    padding-top: 20px;
}

/* Modal Content/Box */
.form {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

.login{
    margin: 3% auto 15% auto; /* 3% from the top, 15% from the bottom and centered */
}

.register{
    margin: 0 auto 15% auto; /* 0 from the top, 15% from the bottom and centered */
}

.container {
    padding: 13px;
}

.form-control{
    position: relative;
    margin-bottom: 25px;
}

.cancel{
    background-color:#f1f1f1;
}

/* Position the close button */
.close {
    margin: 12px 0 12px 0;
    position: relative;
}

/* The Close Button (x) */
.el-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}

label{
    display: block;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 1px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.btn-cancel {
    margin: 0;
    background-color: var(--error-color);
}

button:hover {
    opacity: 0.8;
}

.el-close:hover,
.el-close:focus {
    color: var(--error-color);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

small{
    color: var(--error-color);
    position: absolute;
    visibility: hidden;
}

.form-control.success input {
    border: 2px solid var(--success-color);
}

.form-control.error input {
    border: 2px solid var(--error-color);
}

.form-control.error small {
    visibility: visible;
}